<mat-card *ngIf="post">

  <mat-card-title>
    {{post.title}}
  </mat-card-title>

  <mat-card-content>
    <mat-card-subtitle>
      <p>{{post.description}}</p>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions>
    Author: <a mat-button routerLink="/users/{{post.authorId}}">{{name}}</a>
  </mat-card-actions>

  <div *ngIf="comments">
    <h2>Comments:</h2>
    <mat-list *ngFor="let comment of comments">

      <mat-list-item>{{comment.msg}}</mat-list-item>
    </mat-list>
    <!-- <button (click)="onRemovePost(post.id)" mat-button color="primary">DELETE</button> -->
  </div>

</mat-card>